body {
	background-color: #fffcf7;
	font-family: 'Libre Franklin', sans-serif;
}

h1 {
	font-family: 'Noto Serif KR', sans-serif;
	font-weight: 900;
}

h2 {
	font-family: 'Libre Franklin', sans-serif;

}

img {
	display: block;
	margin: auto;
}

.puppy:hover {
	transform: scale(2.5);
}

.text {
	position: relative;
	margin: auto;
}

.flex-container {
	display: flex;
	background-color: gainsboro;
	flex-direction: row;
	justify-content: center;

}

@keyframes color-change {
	0% {background-color: gold;}
	25% {background-color: goldenrod;}
	50% {background-color: orange;}
	75% {background-color: peru;}
}

.flex-container > div {
	background-color: #f1f1f1;
	margin: 5px;
	padding: 20px;
	font-size: 30px;
	width: 33.33%;
	font-family: 'Libre Franklin', sans-serif;
	text-align: center;

	height: 35px;
	overflow: hidden;
}

div:hover {
	background: gainsboro;
	animation-name: color-change;
	animation-duration: 4s;
}











